*{
    margin: 0;
    padding: 0;
}

.hirobar{
    position: relative;
    
   
}a{
    text-decoration: none !important;
    color: black !important;
}
.header_nav{
    position: fixed;
    display: flex;
    width: 99%;
    align-items:center;
    justify-content: space-between;
    top: 0;
    background-color: #f8f8f8;
    z-index: 8;
    box-shadow: 0 2px 8px 2px rgb(58, 52, 52);
}
.logo1{
    margin-left: 50px;
    padding-bottom: 10px;
    
}#btn2{
    border: none;
    width: 30px;
    height: 30px;
    display: none;
    margin-right: 8px;
    cursor: pointer;
}
.bolimlar_left{
    margin: 15px;
   
    
}.bolimlar_left2{
    font-size: 14px !important;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
   top: 90px;
    z-index: 999;
    font-size: 14px;
    opacity: 0;
}.convert_title{
    padding-left: 100px !important;
}
.input_zona2{

    width: 40px;
}.input_zona2 img{
    width: 100%;
}

.bolimlar_left img{
    width: 100px;
    padding: 10px;
}
.bolimlar_left a{
    font-size: 25px;
     padding: 15px;
     font-weight: 600;
     color: black;
     text-decoration: none;
}
.input_zona {
    display: flex;
    align-items:center;
     padding: 10px;
}
.input_zona input{
    width: 200px;
    height: 40px;
    margin-right:40px ;
    border: 2px orange solid;
    color: black;
  padding: 10px;
  margin-left: 10px;
}
.globe_icon{
    width: 25px;
}
.input_zona .till{
    margin: 10px;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
}
.valyuta_section{
    top: 180px;
    position: absolute;
    
}
.valyuta_section{
    margin-top: 30px;
    display: flex;
    text-align: center;
    justify-content: center;
    width: 100vw;
}
.valyutalar h1{
    font-size: 50px;
    margin-bottom: 20px;
    color: black;
}
.valyutalar a{
    padding: 10px;
    font-size: 30px;
    text-decoration: none;
     font-weight: 500;
    color: black;
}
.table_bar{
    width:40vw ;
    height: 90vh;
    margin-top: 40px;
   left: -10px;
   text-align:start;
   position: relative;
}
.table tr td{
    padding-top: 40px;
    color: black;
    font-weight: 500;
    transition: 1s ease;
}
.table tr :hover{
    background-color: rgb(192, 192, 211) ;
}
.thead-dark{
    color: rgb(160, 114, 28);
}
.usd{
    position: absolute;
    top: 8%;
    margin-left: -6px;
}
.eur{
    position: absolute;
    top: 19%;
    margin-left: -6px;
}
.rub{
    position: absolute;
    top: 30%;
    margin-left: -6px;
}
.gbp{
    position: absolute;
    top: 41%;
    margin-left: -6px;
}
.chf{
    position: absolute;
    top: 52.6%;
    margin-left: -6px;
}
.jpy{
    position: absolute;
    top: 64%;
    margin-left: -6px;
}
.kzt{
    position: absolute;
    top: 75.3%;
    margin-left: -6px;
}
.valyuta_konvertori{
    width: 25vw;
    height: 35vh;
    background-color: #f8f8f8;
   position: absolute;
   top: 22%;
   left: 59%;
   border-radius: 10px;
  
   text-align:start;
}
.valyuta_arxiv{
    width: 25vw;
    height: 65vh;
    background-color: #f8f8f8;
   position: absolute;
   top: 56%;
   left: 59%;
   border-radius: 10px;
}
.input{
    width: 200px;
    height: 42px;
    border-radius: 5px;
    border: none;
   padding: 10px;
   margin-left: 43px;
   border: 1px black solid;
}
.valyuta_konvertori h3{
    font-size: 19px;
    margin: 10px;
    padding: 10px;
    padding-left: 25px;
    margin-top: -35px;
}
select{
    width: 90px;
    height: 42px;
    border-radius: 5px;
    border: none;
    padding-left: 10px;
   /* margin-left: 23px; */
   border: 1px black solid;
}
.valyuta_konvertori img{
    width: 50px;
    margin-left: 310px;
   margin-top: 15px;
}
.valyuta_change{
    width: 310px;
    height: 42px;
    border-radius: 5px;
    background-color: rgb(185, 179, 179);
    padding-left: 10px;
    padding-top: 5px;
    margin: 39px;
}
.valyuta_change p{
    font-size: 20px;

}
.select_arxiv{
    width: 310px;
    height: 45px;
    border-radius: 5px;
    border: none;
    padding-left: 10px;
   /* margin-left: 23px; */
   border: 1px black solid;
   margin: 10px;
}
.trend{
    width: 50px;
    margin-left: 240px;
   margin-top: 15px;
}
.valyuta_arxiv h3{
    font-size: 19px;
    margin: 10px;
    padding: 10px;
    margin-top: -35px;
    margin-left: -110px;
    margin-bottom: 20px;
}
.month {
    padding:10px;
    width: 100%;
    background: #1abc9c;
    text-align: center;
  }
  
  .month ul {
    margin: 0;
    padding: 0;
  }
  
  .month ul li {
    color: white;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 3px;
  }
  
  .month .prev {
    float: left;
    padding-top: 10px;
  }
  
  .month .next {
    float: right;
    padding-top: 10px;
  }
  
  .weekdays {
    margin: 0;
    padding: 10px 0;
    background-color: #ddd;
  }
  
  .weekdays li {
    display: inline-block;
    width: 13.6%;
    color: #666;
    text-align: center;
  }
  
  .days {
    padding: 10px 0;
    background: #eee;
    margin: 0;
  }
  
  .days li {
    list-style-type: none;
    display: inline-block;
    width: 13.6%;
    text-align: center;
    margin-bottom: 5px;
    font-size:12px;
    color: #777;
  }
  
  .days li .active {
    padding: 5px;
    background: #1abc9c;
    color: white !important
  }
  
  /* Add media queries for smaller screens */
  @media screen and (max-width:576px) {
    .weekdays li, .days li {width: 13.1%;}
   
  }
  
  @media screen and (max-width: 420px) {
    .weekdays li, .days li {width: 12.5%;}
    .days li .active {padding: 2px;}
  }
  
  @media screen and (max-width: 290px) {
    .weekdays li, .days li {width: 12.2%;}
    
  }
  .markaziy_bank{
      font-size: 25px;
  }