
.active{
    
    opacity: 1 !important;
    color: white !important;
    
}
@media  screen and (max-width:576px) {

    
.bolimlar_left{
    display: none ;
   
   
}.bolimlar_left2{
    font-size: 14px;
    transition: 0.5s linear;
   
}#btn2{
    transition: 1s linear;
}
.logo1{
    width: 40px;
    margin-left: 8px!important  ;
   

}
.till{
    display: none;
}.globe_icon{
    display: none;
}#btn2{
    display:  block !important;
}.markaziy_bank{
    display: none;
}.section1{
    position: relative;
    top: -80px;
    right: 200px;
    width: 90vw;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}.valyuta_arxiv{
    position: relative !important;
    top: 50px;
    display: none;
}.valyuta_konvertori{
    position: relative;
    top: 500px;
    left: -50px;
    width: 100% !important;
}.convert_title{
    font-size: 45px !important;
}.valyutalar h1{
    color: black !important;

}.valyuta_section{
    top: 80px !important;
}.form-inline{
    margin-left: 20px;
}.header_nav{
    justify-content: left !important;

}tr{
    margin-left: 5px;
}.table tr :hover{
    background-color: rgb(192, 192, 211) !important;
}
}